:root{
    --title-font: 'Playfair Display', serif;
    --text-font: 'Lora', serif;
    --product-title-font: font-family: 'Work Sans', sans-serif;
    --font-gray-color: #575757;
    --font-black-color: #333333;
    --label-color: #529F0F;
    --hover-color: #529F0F; 
}

/*Centering the content inside the body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*==========HEADER DESKTOP SECTION==========*/
#web-header{
    width: 90%;
}
#web-header nav div{
    display: inline-block;
}

/*==========NAV DESKTOP SECTION==========*/
#web-header nav{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.nav-list-buttons{
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}
ul.nav-list-buttons li{
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
}
ul.nav-list-buttons > li{
    padding-left: 0px;
    margin-left: 0px;
}
.nav-button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
ul.nav-list-buttons li a{
    text-decoration: none;
    padding: 5px 10px;
}
/*Rotate the arrow icon*/
div.header-buy-section i.fa-chevron-up{
    transform: rotate(180deg);
    margin-right: 20px;
}

/*=========FONT Y TEXT COLOR FOR THE NAV BUTTONS==========*/
li.nav-button a span{
    color: var(--font-black-color);
    font-family: var(--title-font);
}
div.header-img{
    position: relative
    
}
div.header-img img{
    width: 100%;
}
/*SETTING THE POSITION OF THE TEXT ON THE HEADER IMG*/
p.header-img-text{
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
    font-size: 4rem;
    font-family: var(--title-font);
    color: var(--font-black-color);
}
p.header-img-text-2{
    position: absolute;
    top: 55%;
    left: 40%;
    font-family: var(--title-font);
    color: var(--font-black-color);
    font-size: 3rem;
    text-decoration: underline;
}

/*==========OFFER CARDS SECTION==========*/
div.offers-container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
}
div.offers-container:hover{
    cursor: pointer;
}
div.offer-item{
    position: relative;
    width: 100%;
}
div.offer-item img{
    width: 100%;
}
div.offer-item div.offer-item-text{
    position: absolute;
    top: 30%;
    left: 10%;
}
div.offer-item-text label{
    font-size: 3rem;
    color: var(--label-color);
    font-family: var(--title-font);
}
div.offer-item-text p{
    font-size: 1rem;
    color: var(--font-black-color);
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 0px;
}

/*==========LATEST PRODUCTOS SECTION==========*/

/*Setting styles for the new products container*/
div.latest-products-section{
    width: 90%;
}
div.latest-product-container{
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    width: 100%;
}
h2.latest-products-title{
    font-size: 2.5rem;
    font-family: var(--title-font);
    color: var(--font-black-color);
    text-align: center;
}
p.latest-products-text{
    font-family: var(--text-font);
    color: var(--font-black-color);
    font-size: 1rem;
    text-align: center;
}

/*Setting styles for the items "latest products"*/
div.latest-product-item:hover{
    cursor: pointer;
    border: 2px solid var(--hover-color);
}
div.latest-product-container img{
    width: 100%;
}
p.latest-product-title{
    color: var(--font-gray-color);
    font-family: var(--product-title-font);
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
div.latest-product-item p.latest-product-text{
    color: var(--font-black-color);
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 0px;
}
p.latest-product-text span{
    text-decoration: line-through;
}

/*==========TESTI SECTION==========*/
div.testi-section{
    margin: 15% auto;
    width: 100%;
    text-align: center;
}
div.testi-section div{
    margin: auto;
}
/*Text in the testi section*/
div.testi-section p.testi-title{
    font-size: 1rem;
    font-family: var(--title-font);
    color: var(--font-black-color);
    margin-bottom: 5%;
}
div.testi-section p.testi-1-text{
    font-size: 0.8rem;
    font-family: var(--text-font);
    color: var(--font-black-color);
    margin-bottom: 0;
}
div.testi-section p.testi-2-text{
    font-size: 0.7rem;
    font-family: var(--text-font);
    color: var(--font-gray-color);
    font-weight: bold;
    margin-top: 0;
}

/*==========NEW PRODUCTS SECTION==========*/
div.new-products-section{
    width: 90%;
}
div.new-product-container{
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    width: 100%;
}
h2.new-products-title{
    font-size: 2.5rem;
    font-family: var(--title-font);
    color: var(--font-black-color);
    text-align: center;
}
p.new-products-text{
    font-family: var(--text-font);
    color: var(--font-black-color);
    font-size: 1rem;
    text-align: center;
}

/*Setting styles for the items "new products"*/
div.new-product-item:hover{
    cursor: pointer;
    border: 2px solid var(--hover-color);
}
div.new-product-container img{
    width: 100%;
}
p.new-product-title{
    color: var(--font-gray-color);
    font-family: var(--product-title-font);
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
div.new-product-item p.new-product-text{
    color: var(--font-black-color);
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 0px;
}
p.new-product-text span{
    text-decoration: line-through;
}

/*==========SUBSCRIBE FORM SECTION==========*/
div.subscribe-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 0;
}
div.subscribe-section h2{
    font-family: var(--title-font);
    font-size: 2.5rem;
    color: var(--font-black-color);
    text-align: center;
}
div.subscribe-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
div.subscribe-input-container input{
    width: 40%;
    height: 40px;
}
div.subscribe-input-container input::placeholder{
    font-family: var(--title-font);
    font-size: 1.2rem;
}
div.subscribe-input-container button{
    font-family: var(--text-font);
    background-color: var(--font-black-color);
    color: #FFFFFF;
}
div.subscribe-input-container button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

/*==========LATEST NEWS SECTION===========*/
section.latest-news-section{
    width: 90%;
}
h2.latest-news-title{
    text-align: center;
    font-family: var(--title-font);
    font-size: 2.5rem;
    color: var(--font-black-color);
}
div.latest-news-container{
    display: flex;
    gap: 5%;
}

/*Setting styles for the news items*/
div.latest-new-item p.new-item-date{
    font-family: var(--text-font);
    font-style: italic;
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--font-gray-color);
    margin: 10px 0;
}
div.latest-new-item h3.new-item-title{
    font-family: var(--title-font);
    font-size: 1.4rem;
    margin: 0 0;
}
div.latest-new-item p.new-item-text{
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--font-gray-color);
}
div.latest-new-item p.new-item-read-more{
    font-family: var(--text-font);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--font-gray-color);
}
div.latest-new-item p.new-item-read-more:hover{
    color: var(--hover-color);
    cursor: pointer;
}

/*==========PARTNERS SECTION==========*/
section.partners-section{
    width: 100%;
    margin: 20% 0;
}
div.partners-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}



/*==========RESPONSIVE QUERY FOR SMARTPHONES==========*/
@media (max-width: 640px) {
    /*Hiding the nav buttons*/
    ul.nav-list-buttons{
        display: none;
    }
    /*Size and position of the header big text*/
    p.header-img-text{
        top: 15%;
        font-size: 1rem;
    }
    p.header-img-text-2{
        font-size: 1rem;
    }

    /*==========OFFER SECTION FOR MOBILE==========*/
    div.offers-container{
        flex-direction: column;
    }
    div.offer-item{
        height: 100%;
        display: block;
    }
    div.offer-item-text label{
        font-size: 2rem;
    }
    div.offer-item-text p{
        font-size: 1rem;
    }
    /*==========LATEST PRODUCTS SECTION==========*/
    div.latest-products-section{
        margin: auto;
    }
    div.latest-product-item-hiden{
        display: none;
    }
    div.latest-product-item-mobile{
        width: 100%;
    }
    div.latest-product-item-mobile img{
        width: 100%;
    }

    /*==========NEW PRODUCTS SECTION==========*/
    div.new-products-section{
        margin: auto;
    }
    div.new-product-item-hiden{
        display: none;
    }
    div.new-product-item-mobile{
        width: 100%;
    }
    div.new-product-item-mobile img{
        width: 100%;
    }

    /*==========SUBSCRIBE FORM SECTION==========*/
    div.subscribe-input-container input{
        width: 90%;
    }
    
    /*==========LATEST NEWS SECTION==========*/
    div.latest-news-container{
        flex-direction: column;
    }
    div.latest-news-container div.latest-new-item{
        width: 100%;
    }
    div.latest-new-item img{
        width: 100%;
    }
    
    /*==========PARTNERS SECTION==========*/
    div.partner-item-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.partner-item-hiden{
        display: none;
    }

}